:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --dnb_seaGreen: #007272;
  --dnb_mintGreen: #a5e1d2;
  width: 100vw;
  background-color: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: black;
}

input {
  padding: 0.25rem;
  background-color: white;
  border-radius: 5px;
  color: black;
  text-align: center;
}

body {
  place-items: center;
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

p {
  color: black;
}

.pageContainer {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.497);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  padding: 1rem;
  border: var(--dnb_seaGreen) solid 1px;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    width: 60vw;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.floorCard {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.497);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--dnb_mintGreen);
  border: var(--dnb_seaGreen) solid 1px;
  border-radius: 5px;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.red {
  color: #dc2a2a;
}

.green {
  color: #01a043;
}

.textMargin {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
